@import "tailwindcss";

.cute {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
